.Slider-style{
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
}
.Slider-Board{
    position: relative;
    top: 0.5rem;
    height: 360px;
    margin: 20px 0; 
}

span{
    color: #3a3a3a;
}

button{

    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 12px 20px 12px 20px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.SliderBtn{
    display: flex;
    justify-content: center;
}
.SliderBtn button{
    margin: 10px;
}


/* Link */
a{
    text-decoration: none;
    color: white;
}